name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Decode SSH key
        run: |
          echo "${{ secrets.EC2_SSH_KEY_B64 }}" | base64 -d > key.pem
          chmod 600 key.pem

      - name: SSH and deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key_path: key.pem
          port: 22
          script_stop: true
          script: |
            cd /var/www/app/taxlegit_website
            git pull origin main
            npm install
            pm2 restart all
